@import "_lesshat.less";

.poster-container{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	
}
.posters{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	.transition-property(transform,opacity);
	.transform(scale(1),translateX(0%));
	.transition-timing-function(cubic-bezier(.645,.045,.355,1));
	.perspective(500px);
}
.posters-hidden{
	display: none;
}
.poster{
	cursor: pointer;
	display: block;
	position: absolute;
	z-index: inherit;
	.transition(transform 0.5s ease-in-out);
	overflow: hidden;
	background: #000;
}

.scale-large{
	.transform(scale(6));
	.transition(transform 1.5s ease-in-out);
}

.scale-normal{
	.transform(scale(1));
	.transition(transform 1.5s ease-in-out);
}

.cover{
	height: inherit!important;
	width: inherit!important;
	position: absolute;
	z-index: 10;
	background-size: cover!important;
	background: no-repeat 50% 50%;
	.transition(transform 1s ease-in-out);
	&:hover{
		.transform(scale(1.1));
		.opacity(0.8);
	}
}
.shadow{
	height: inherit!important;
	width: inherit!important;
	position: absolute;
	background: #000;
}
.article-header-wrap{
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	z-index: 0;
	background: rgba(0, 0, 0, 0.85);
}
.article-header{
	position: absolute;
	top: 0;
	left: 0;
	height: inherit;
	width: inherit;
	background-size: cover!important;
	background:no-repeat 50% 50%;
	.scale(0.75);
	.transition(transform 1s ease-in-out);
}

.article-header-large{
	.scale(1);
	.transition(transform 1s ease-in-out);
}

.article-container{
	.box-shadow(0 0 10px rgba(0, 204, 204, .5));
	background-color: #fff;
	visibility: hidden;
	&.active{
		.translateY(-1000px);
		visibility: visible;
		.transition(transform 2s ease-in-out);
	}
}

.back{
	color: #fff;
	font-size: 24px;
	cursor: pointer;
	position: absolute;
	z-index: 11;
}