{% extends 'base/_layout.html'%}

{% block content %}
	<div class="poster-container">
		<div class="posters">
			<div class="poster poster-1-3" data-target="a/test" >
				<div class="cover" style="background-image: url(images/poster.jpg);"></div>
			</div>
			<div class="poster poster-1-3" data-target="a/1" >
				<div class="cover" style="background-image: url(images/a.jpg);"></div>
			</div>
			<div class="poster poster-1-3">
				<div class="cover" style="background-image: url(images/3.jpg);"></div>
			</div>
			<div class="poster poster-1-3">
				<div class="cover" style="background-image: url(images/poster.jpg);"></div>
			</div>
			<div class="poster poster-1-3">
				<div class="cover" style="background-image: url(images/a.jpg);"></div>
			</div>
			<div class="poster poster-1-3">
				<div class="cover" style="background-image: url(images/a.jpg);"></div>
			</div>
			<div class="poster poster-1-3">
				<div class="cover" style="background-image: url(images/3.jpg);"></div>
			</div>
			<div class="poster poster-1-3">
				<div class="cover" style="background-image: url(images/poster.jpg);"></div>
			</div>
			<div class="poster poster-1-3">
				<div class="cover" style="background-image: url(images/a.jpg);"></div>
			</div>
			<div class="poster poster-1-3">
				<div class="cover" style="background-image: url(images/3.jpg);"></div>
			</div>
			<div class="poster poster-1-3">
				<div class="cover" style="background-image: url(images/poster.jpg);"></div>
			</div>
		</div>
		<div class="article-header-wrap">
			<div class="article-header" style="background-image: url(images/1.jpg);" id="a/test"></div>
			<div class="article-header" style="background-image: url(images/1.jpg);" id="a/1"></div>
			<div class="article-header" style="background-image: url(images/1.jpg);" id="a/test"></div>
		</div>
	</div>
	<div class="article-container"></div>
{% endblock %}